*{padding: 0;
   margin: 0;     }

   @font-face {
       font-family: Qbold;
       src: url("../font/Quicksand-Bold.ttf");
   }

   @font-face {
    font-family: Qregular;
    src: url("../font/Quicksand-Regular.ttf");
}
@font-face {
    font-family: Qmedium;
    src: url("../font/Quicksand-Medium.ttf");
}
a{text-decoration: none;}

.text-bold{
    font-family: Qbold;
}

.text-regular{
    font-family:Qregular ;
}
.text-medium{
    font-family: Qmedium;

}
.text-primary{
    color: #272042
}
.text-secondary{color:#8b8ba5}
.navbar{
    flex: 1;
    min-height: 1rem;
    display: flex;
    padding: 2rem 100px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    }
    .logo{display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 28px;
            }
    .logo img {
                margin-right: 10px;
            }
    .list-menu{flex: 1;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                gap: 25px;
                font-size: 18px;
                margin-right: 25px;
                }
    .menu{display: flex;
        flex-direction: row;
        align-items: center;
    }

    .btn{ 
        width: max-content;
        font-size: 18px;
        display: inline-block;
        padding: 14px 31px;
        border-radius:25px 23px 15px 18px;

    }

    .btn-primary{
    background: #fbe0DC;
}

    .btn-secondary{
        background: #fffb00;
        
    }

    section#home{padding: 80px 145px;
    display: flex;
    flex-direction: row;
   min-height: max-content;
}
    .home-left { 
        width: 45%;
    padding-right: 80px;}

    .home-right {
        flex :1;}

    .home-right img{width :100%}

    .home-title{
        font-size: 46px ;
        line-height: 70px;
        margin-bottom: 10px;
    }

    .home-description{
        font-size: 20px ;
        line-height: 34px;
        margin-bottom: 40px;
    }

    section#product{
        text-align: center;
        min-height: 100vh;
    }

    .product-menu-item-active{
        color: #fffb00;
        font-family: Qmedium !important;
    }

    .product-subtitle{
        font-size: 20px;
    }

    .product-title {
        font-size: 32px;
        margin :10px 0 30px 0;}

    .product-menu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
        font-size: 20px;
    }
    
    .product-active{
        color: #fffb00;
        font-family: Qmedium !important;
        position: relative;
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }

    .product-active::before{
        content: "";
        width: 80%;
        height: 4px;
        display: block;
        background-color: #fffb00;
        position: absolute;
        bottom: 0;
        border-radius: 50px;
    }

    .product-list{display: flex;
        flex-direction: row;
       justify-content: center;
       gap: 30px;
       padding:  50px 100px;
       flex: 1;
       

    }

    .product-list > .product-item {
        flex: 1;
        
        
    }

    .product-list > .product-item .thumnails img{
        width: 100%;
        padding-bottom: 14px;
        
    }

    .title{
        font-size: 22px;
        padding-bottom: 8px;
    }
    
    .chef {
        font-size: 16px;
        padding-bottom: 12px;
        color: #8B8BA5;
    }

     .rating img  {
        width: 22px;
        height: 22px;
    }

    .product-item .thumnails img{
        border-radius: 25% 25px 20% 30%;
        position: relative;
        z-index: 5;
       
    }

    .product-item .thumnails{
        position: relative;
    }

    .product-item .thumnails::before{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #8B8BA5;
        padding: 9px 7px 6px 9px;
        z-index: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 15% 10% 25% 30%;
    }

    .product-item .thumnails::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #FDFAE5;
        z-index: 1;
        top: -9px;
        left:-9px;
        border-radius: 30% 5% 15% 25%;
    }

    section#testimoni{
        margin: 155px 303px 100px 303px;
        text-align: center;
        position: relative;
    }

    #testimoni > img{
        position: absolute;
        top: -60px;
        left: -50px;
        z-index: -1;
    }

    #testimoni .item .quote{
        font-size: 36px;
        line-height: 50px;
    }

    .user-testimoni{
        width: 283px;
        height: 86px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .user-testimoni > img{
        width: 90px;
        height: 86px;
    }

    .user-details > h3{ font-size: 22px;

    }
    
    .user-details > p{ font-size: 16px;

    }